# -*- coding: utf-8 -*-
# RSScrawler
# Projekt von https://github.com/rix1337

# Python
*.pyc
*.bak
__pycache__

# Build Tools
build
dist
venv
*.egg-info

# RSScrawler files
*.conf
*.db
*.log
*.crawljob
*.ini
*.journal
*.zip
*.1
*.2
*.3
*.4
*.5

# Visual Studio
.vscode/

# PyCharm
.idea
