# -*- coding: utf-8 -*-
# RSScrawler - Version 2.3.0
# Projekt von https://github.com/rix1337
# Enthält Code von:
# https://github.com/dmitryint (im Auftrag von https://github.com/rix1337)

BeautifulSoup
cherrypy
docopt
feedparser
lxml
requests
