# -*- coding: utf-8 -*-
# RSScrawler
# Projekt von https://github.com/rix1337
#
# cfscrape wird noch nicht aktiv genutzt. cfscrape benötigt nodejs!

BeautifulSoup
cherrypy
docopt
feedparser
lxml
requests
cfscrape
