# -*- coding: utf-8 -*-
# FeedCrawler
# Projekt von https://github.com/rix1337

bs4
cloudscraper
docopt
feedparser
flask
rapidfuzz
lxml
passlib
pycryptodomex
python-dateutil
requests[socks]
simplejson
waitress
