body {
    background-color: #303030;
    color: black;
}

#log, #myjd {
    max-width: 80em;
}

.offcanvas-bottom {
    height: unset;
    min-height: 60%;
    max-height: 100%;
}

.log {
    height: 272px;
    overflow: auto;
    resize: none;
    color: black;
    text-align: left;
    background-color: #f7f7f7;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f7f7f7;
}

table {
    border-collapse: unset;
}

.table thead th, .table td {
    border-top: 0;
    border-bottom: 0;
}

.liste {
    height: 10em !important;
    resize: none;
    margin-bottom: 0.5em;
    background-color: #f7f7f7;
    color: black;
}

.container {
    box-shadow: 0 0 5px 5px #202020;
    border-radius: 0;
    margin: 1em auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.myjdheader {
    padding: 0;
}

.myjd-items {
    padding: 1em;
}

.alert {
    margin-bottom: 1em;
    max-width: 20em;
}

td {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    white-space: nowrap;
}

.app {
    background-color: white;
    color: black;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.alert {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: 0 0 5px 5px #606060;
}

#myjd .card-body {
    padding-bottom: 1.25em;
}

.tooltip-inner {
    border-radius: .25rem;
    max-width: 50em;
}

#head {
    max-width: 36em;
}

.border-top {
    margin: 1em;
}

#head, #myjd, #log {
    margin-bottom: 2em;
}

.progress {
    height: 2em;
}

#percentage {
    display: inline-block;
    white-space: nowrap;
}

#myjd_state, #myjd_grabbing, #myjd_update {
    font-size: 2em;
}

.urls {
    height: 4em;
    resize: none;
}

#start_now {
    color: #007bff;
}

#heart, .remove {
    color: #d53343;
}

.btn {
    margin-top: 0.5em;
    white-space: inherit;
    word-break: break-all;
}

.cnl-button {
    width: 100%;
}

.btn-group > .btn-outline-info:focus {
    box-shadow: none;
}

h3 {
    white-space: inherit;
    word-break: normal;
}

select {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
}

input, select, textarea, .accordion {
    margin-bottom: 16px;
}

p {
    margin-top: 16px;
}

.form-check {
    display: inline-block;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.blinking {

    animation: blink 1s linear infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
