// Set Vue-Toastification variables to bootstrap SCSS variables
@import "../node_modules/bootstrap/scss/bootstrap";

$vt-color-default: $primary !default;
$vt-text-color-default: #fff !default;
$vt-color-info: $info !default;
$vt-text-color-info: #fff !default;
$vt-color-success: $success !default;
$vt-text-color-success: #fff !default;
$vt-color-warning: $warning !default;
$vt-text-color-warning: #fff !default;
$vt-color-error: $danger !default;
$vt-text-color-error: #fff !default;
$vt-font-family: $font-family-sans-serif !default;
