// Import Bootstrap SCSS
@use 'bootstrap/scss/bootstrap' as bs;

// Toast styles
.c-toast-container .c-toast--success {
  background-color: bs.$success;
  font-family: bs.$font-family-sans-serif;
}

.c-toast-container .c-toast--info {
  background-color: bs.$primary;
  font-family: bs.$font-family-sans-serif;
}

.c-toast-container .c-toast--warning {
  background-color: bs.$warning;
  font-family: bs.$font-family-sans-serif;
}

.c-toast-container .c-toast--error {
  background-color: bs.$danger;
  font-family: bs.$font-family-sans-serif;
}

.c-toast-container .c-toast--default {
  background-color: bs.$secondary;
  font-family: bs.$font-family-sans-serif;
}

// Formkit Validation styles
[data-invalid] .formkit-inner {
  border-color: bs.$danger !important;
  border-radius: .25rem;
  box-shadow: 0 0 0 0.25rem bs.$danger !important;
}

.dark {
  .card, .offcanvas, .modal-content {
    background-color: bs.$dark;
    color: bs.$white;
    border-color: bs.$secondary;
  }

  .card-header {
    border-bottom-color: bs.$secondary;
  }

  .border-top {
    border-top-color: bs.$secondary !important;
  }

  .modal-header {
    border-bottom-color: bs.$secondary;
  }

  .modal-footer {
    border-top-color: bs.$secondary;
  }

  .table > :not(caption) > * > * {
    background-color: bs.$dark;
    color: bs.$white;
  }

  tbody, td, tfoot, th, thead, tr {
    border-color: bs.$secondary;
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: bs.$warning;
  }

  .list-group-item {
    background-color: bs.$dark;
    color: bs.$white;
  }

  .accordion-item {
    color: bs.$white;
  }

  .accordion {
    background-color: black !important;
    color: bs.$white !important;
    border-color: bs.$secondary !important;
    --bs-accordion-bg: bs.$dark !important;
  }

  .accordion-button {
    background-color: bs.$gray-800 !important;
    color: bs.$warning !important;
  }


  .form-control {
    border-color: bs.$secondary;
  }

  .form-control.bg-light {
    background-color: bs.$dark !important;
    color: bs.$white;
  }

  ul.pagination li {
    --bs-pagination-bg: bs.$dark !important;
    --bs-pagination-disabled-bg: bs.$white !important;
  }

  svg {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
  }

  mark {
    background-color: bs.$secondary;
    color: bs.$white;
  }

  mark a {
    color: bs.$warning;
  }

  mark a {
    color: bs.$warning !important;
  }

  .percentage {
    color: black;
  }

  .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFC107FF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFC107FF'%3e%3cpath fill-rule='evenodd' d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }

}
