body {
    background-color: darkgrey;
    color: black;
}

.log {
    height: 20em;
    resize: none;
    background-color: #f7f7f7;
    color: black;
    overflow: auto;
    text-align: left;
}

.liste {
    height: 10em;
    resize: none;
    margin-bottom: 0.5em;
    background-color: #f7f7f7;
    color: black;
}

.container {
    box-shadow: 0 0 5px 5px grey;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0.5em;
    max-width: 80em;
}

#myjd_no_login, #myjd_no_packages, #myjd_state, #myjd_grabbing, .myjd-downloads, .myjd-decrypted, .myjd-failed {
    display: none;
}

.alert {
    margin-bottom: 1em;
    max-width: 20em;
}

.app {
    background-color: white;
    color: black;
}

.tooltip-inner {
    border-radius: 0;
    max-width: 60em;
}

.btn {
    margin-top: 0.5em;
}

#settings {
    margin-bottom: 1em;
}

#head {
    max-width: 20em;
}

.progress {
    height: 2em;
}

#percentage {
    display: inline-block;
}

#myjd_state, #spinner-myjd, #myjd_grabbing {
    font-size: 2em;
}

.urls {
    height: 4em;
    resize: none;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.blinking {

    animation: blink 1s linear infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
