body {
    background-color: darkgrey;
    color: black;
}

.log {
    height: 20em;
    overflow: auto;
    resize: none;
    color: black;
    text-align: left;
    background-color: #f7f7f7;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f7f7f7;
}

.table thead th, .table td {
    border-top: 0;
    border-bottom: 0;
}

.liste {
    height: 10em !important;
    resize: none;
    margin-bottom: 0.5em;
    background-color: #f7f7f7;
    color: black;
}

.container {
    box-shadow: 0 0 5px 5px grey;
    border-radius: 0;
    margin: 1em auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 70em;
}

.myjdheader {
    padding: 0;
}

.alert {
    margin-bottom: 1em;
    max-width: 20em;
}

.app {
    background-color: white;
    color: black;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.alert {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#myjd .card-body {
    padding-bottom: 1.25em;
}

.tooltip-inner {
    border-radius: 0;
    max-width: 60em;
}

#settings {
    margin-bottom: 1em;
}

#head {
    width: 24em;
}

.border-top {
    margin: 1em;
}

#head, #myjd, #search, #log, #lists, #help {
    margin-bottom: 2em;
}

.progress {
    height: 2em;
}

#percentage {
    display: inline-block;
    white-space: nowrap;
}

#myjd_state, #spinner-myjd, #myjd_grabbing, #myjd_update {
    font-size: 2em;
}

.urls {
    height: 4em;
    resize: none;
}

#heart, .remove {
    color: #d53343;
}

.btn {
    margin-top: 0.5em;
    white-space: inherit;
    word-break: break-all;
}

.btn-secondary {
    width: 100%;
}

.btn-group > .btn-outline-info:focus {
    box-shadow: none;
}

h3 {
    white-space: inherit;
    word-break: normal;
}

select {
    max-width: 16em;
    margin-left: auto;
    margin-right: auto;
}

input, select, textarea {
    margin-bottom: 16px;
}

p {
    margin-top: 16px;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.blinking {

    animation: blink 1s linear infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #343a40;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}
