body {
    background-color: darkgrey;
    color: black;
}

.log {
    height: 20em;
    resize: none;
    background-color: #f7f7f7;
    color: black;
    overflow: auto;
    text-align: left;
}

.liste {
    height: 10em;
    resize: none;
    margin-bottom: 0.5em;
    background-color: #f7f7f7;
    color: black;
}

.container {
    box-shadow: 0 0 5px 5px grey;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0.5em;
    max-width: 60em;
}

#myjd_no_login, #myjd_no_packages, #myjd_state, #myjd_grabbing, #myjd_update, .myjd-downloads, .myjd-decrypted, .myjd-failed, .myjd-offline {
    display: none;
}

.myjdheader {
    padding: 0;
}

.alert {
    margin-bottom: 1em;
    max-width: 20em;
}

.app {
    background-color: white;
    color: black;
}

.tooltip-inner {
    border-radius: 0;
    max-width: 60em;
}

.btn {
    margin-top: 0.5em;
}

#settings {
    margin-bottom: 1em;
}

#head {
    max-width: 20em;
}

.progress {
    height: 2em;
}

#percentage {
    display: inline-block;
    white-space: nowrap;
}

#myjd_state, #spinner-myjd, #myjd_grabbing, #myjd_update {
    font-size: 2em;
}

.urls {
    height: 4em;
    resize: none;
}

#heart {
    color: #d53343;
}

.btn-secondary {
    width: 100%;
}

.btn, h3 {
    white-space: inherit;
    word-break: break-all;
}

select {
    max-width: 16em;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    margin-bottom: 16px;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.blinking {

    animation: blink 1s linear infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #343a40;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}
